<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/header.css">
    <link rel="stylesheet" type="text/css" href="/navbar.css">
    <link rel="stylesheet" type="text/css" href="/footer.css">
    <link rel="stylesheet" type="text/css" href="/body.css">
    <link rel="stylesheet" type="text/css" href="/columns.css">
    <link rel="stylesheet" type="text/css" href="/top10.css">
    <link rel="stylesheet" type="text/css" href="/card.css">
    <link rel="stylesheet" type="text/css" href="/allFigurines.css">
    <style>
      * {
        box-sizing: border-box;
      }
      html {
        height: 100%;
      }
      /* Create three equal columns that floats next to each other */
      .column {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <p>Seitenname</p>
    </div>

    <div class="topnav">
      <a href="/">Startseite</a>
      <a href="/top10">Trending</a>
      <a href="/allFigurines">Figuren</a>
      <a href="/trustedShops">Shops</a>
      <a href="/hersteller">Hersteller</a>
      <a href="/serien">Serien</a>
      <a href="/login">Mein Konto</a>
      <a style="background-color: #234536;">Filter</a>
      <div class="search-container">
        <form action="/search" method="POST">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit">Suchen</button>
        </form>
      </div>
    </div>

    <div style="text-align:center;">
      <p style=" font-size: 24px"><%=collector.length %> Suchergebniss(e)</p>
      <a href="/allFigurines">
        <button class="submitButton">Zurücksetzen</button>
      </a>
    </div>

    <div class="row" style="text-align: center;">
      <% for (i=0; i<collector.length; i++){ %>
        <div class="column"  style="width: 33.33%;">
          <div class="card">
            <p><%=collector[i].figurineName %></p>
            <a href="/figurDetails/<%=collector[i].fid %>">
              <img alt="<%=collector[i].figurineName %>" src="<%=collector[i].picture %>" class="cover">
            </a><h2><%=collector[i].seriesName %></h2>
          </div>
        </div>
      <% } %>
    </div>

    <footer class="footer">
      <div class="footer-row">
        <div class="footer-column">
          <p style="font-size: 20px">Service-Hotline</p>
          <p>Wir beraten dich gerne:</p>
          <p style="font-size: 22px">089/1234567-8</p>
          <p>Mo-Fr 09.00 - 16.00 Uhr</p>
        </div>
        <div class="footer-column">
          <p style="font-size: 20px">Impressum</p>
          <p>Max Mustermann</p>
          <p>Musterstraße 1</p>
          <p>80999 München</p>
        </div>
        <div class="footer-column">
          <p style="font-size: 20px">Kontakt:</p>
          <p>Telefon: 089/1234567-8</p>
          <p>Telefax: 089/1234567-9</p>
          <p>E-Mail: mail@mustermann.de</p>
        </div>
        <div class="footer-column">
          <p><a style="color: white" href="top10">Top 10</a></p>
          <p><a style="color: white" href="trustedShops">Shops</a></p>
          <p><a style="color: white" href="hersteller">Hersteller</a></p>
          <p><a style="color: white" href="serien">Serien</a></p>
          <p><a style="color: white" href="login">Mein Konto</a></p>
        </div>
      </div>
    </footer>
  </body>
<html>