<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/header.css">
    <link rel="stylesheet" type="text/css" href="/navbar.css">
    <link rel="stylesheet" type="text/css" href="/footer.css">
    <link rel="stylesheet" type="text/css" href="/body.css">
    <link rel="stylesheet" type="text/css" href="/columes.css">
    <link rel="stylesheet" type="text/css" href="/seriesDetails.css">
    <style>
      * {
        box-sizing: border-box;
      }
      html {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <p>Seitenname</p>
    </div>

    <div class="topnav">
      <a href="../">Startseite</a>
      <a href="#">Über uns</a>
      <a href="#">Top 10</a>
      <a href="../trustedShops">Shops</a>
      <a href="../hersteller">Hersteller</a>
      <a style="background-color: #234536;" href="../serien">Serien</a>
      <a href="../login">Mein Konto</a>
      <input type="search" placeholder="Search..">
    </div>
    
    <div class="pic">
  
        
        <img alt="<%=series.seriesName %>" src="<%=series.icon %>" width="250px">
        
    
        </p>
    </div>
    <div class="des">
        <h2><%=series.seriesName %></h2>
        <p>Alternative Namen: <%=series.altName %>
        <br>Typ: <%=series.seriesType %>
        <br>Ausstrahlung: <%=series.release %>
        <br>Beschreibung: <br><%=series.sDescription %>
    
        </p>
    </div>
    <div class="footer">
      <p>Impressum</p>
    </div>
  </body>
<html>