<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="header.css">
  <link rel="stylesheet" type="text/css" href="navbar.css">
  <link rel="stylesheet" type="text/css" href="footer.css">
  <link rel="stylesheet" type="text/css" href="body.css">
  <link rel="stylesheet" type="text/css" href="columns.css">
  <link rel="stylesheet" type="text/css" href="trending.css">
  <link rel="stylesheet" type="text/css" href="slideshow.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    * {
      box-sizing: border-box;
    }

    html {
      height: 100%;
    }

    .column {
      width: 33.33%;
    }
  </style>
</head>

<body>
  <div class="header">
    <div class="bannerbox">
      <a href="/">
      <div class="banner"></div>
      </a>
    </div>
  </div>

  <div class="topnav">
    <a href="/">Startseite</a>
    <a style="background-color: #234536;" href="trending">Trending</a>
    <a href="allFigurines">Figuren</a>
    <a href="trustedShops">Shops</a>
    <a href="hersteller">Hersteller</a>
    <a href="serien">Serien</a>
    <a href="myAccount">Mein Konto</a>
    <div class="search-container">
      <form action="/search" method="POST">
        <input type="text" placeholder="Suchen.." name="search" required>
        <button type="submit">Suchen</button>
      </form>
    </div>
  </div>

  <div class="row" style="text-align: center;">
    <p style="font-size: 26px">Beliebteste Figuren</p>
    <% for (i=0; i<3; i++){ %>
      <div class="column">
        <div class="card">
          <p style="font-size: 22px; font-weight: bold;">
            <%=collector[i].characterName %>
          </p>
          <a href="/figurDetails/<%=collector[i].fid %>">
            <img id="test " alt="<%=collector[i].figurineName %>" src="<%=collector[i].picture %>" class="cover">
          </a>
          <div class="ratingcard">
            <div class="rated-stars">
              <p>Bewertung: <%=collector[i].rating%> / 5</p>
              <div class="star-ratings-css" data-rate="<%=Math.round(collector[i].rating*2)/2 %>"></div>
            </div>
          </div>
          </a>

        </div>
      </div>
      <% } %>
  </div>

  <script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      if (n > x.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = x.length }
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      x[slideIndex - 1].style.display = "block";
    }

    carousel();
    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > x.length) { slideIndex = 1 }
      x[slideIndex - 1].style.display = "block";
      setTimeout(carousel, 5000); // Ändert Bild alle 5 Sekunden
    }
  </script>

  <footer class="footer">
    <div class="footer-row">
      <div class="footer-column">
        <p style="font-size: 20px">Service-Hotline</p>
        <p>Wir beraten dich gerne:</p>
        <p style="font-size: 22px">089/1234567-8</p>
        <p>Mo-Fr 09.00 - 16.00 Uhr</p>
      </div>
      <div class="footer-column">
        <p style="font-size: 20px">Impressum</p>
        <p>Max Mustermann</p>
        <p>Musterstraße 1</p>
        <p>80999 München</p>
      </div>
      <div class="footer-column">
        <p style="font-size: 20px">Kontakt:</p>
        <p>Telefon: 089/1234567-8</p>
        <p>Telefax: 089/1234567-9</p>
        <p>E-Mail: mail@mustermann.de</p>
      </div>
      <div class="footer-column">
        <p><a style="color: white" href="trending">Trending</a></p>
        <p><a style="color: white" href="allFigurines">Figuren</a></p>
        <p><a style="color: white" href="trustedShops">Shops</a></p>
        <p><a style="color: white" href="hersteller">Hersteller</a></p>
        <p><a style="color: white" href="serien">Serien</a></p>
        <p><a style="color: white" href="myAccount">Mein Konto</a></p>
      </div>
    </div>
  </footer>
</body>
<html>